/* NavBar.jsx */
#navbar{
  background: #bdbbbb;
  display: flex;
  justify-content: end;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 2px 1px  #cecece;
  overflow: hidden;
}

.navItem{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 30px;
}

.active{
  font-size: large;
  text-shadow: 0px 0px 5px white ;
}

.button button{
  background-color: white;
  border: none;
  font-size: 14px;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 5px;
} 

.button button:hover{
  box-shadow: 1px 1px 5px 1px  #cecece;
}

.toggle{
  display: none;
}

@media(max-width:600px) {
  .navItem {
    /* display: none; */
    display: block;
    text-align: left;
  }

  .button{
    text-align: right;
  }

  .toggle{
    display: flex;
  }

  .navItems{
    display: block;
  }

  #navbar{
    /* display: block; */
    justify-content: space-between;
  }
}

/*  Card.jsx */
.product_wrapper{
  display: flex;
}

.sidebar{
  padding: 17px;
    text-align: left;
    min-width: 15%;
}

.applied_filters{
  display: flex;
  justify-content: left;
  
}

.applied_filter{
  background-color: #bdbbbb;
  padding: 0px 0px;
}

.sidebar form h4, h5{
  margin: 10px 0px;
}

.sidebar form{
  margin: 10px 0px;
}

img{
  height: 200px;
  width: 200px;
}

.searchField{
  width: 90%;
  height: 17px;
  font-size: medium;
  padding: 10px;
  border: none;
}

#searchIcon{
  height: 20px;
  width: 20px;
  padding: 8px 15px;
  background-color: #bdbbbb;
  cursor: pointer;
}

.search_form{
  max-width: 40%;
  margin: auto;
  height: 35px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px  #cecece;
}

input[type=input]:focus{
  outline: none;
}

button{
  cursor: pointer;
}

.main_content{
  padding-top: 10px;
  background: #f1f1f1;
  width: 100%;
}

#cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 20px;
  gap: 20px;
}

#card{
  background: white;
  box-shadow: 2px 2px 2px 1px  #cecece;
  padding: 10px 10px 40px 10px;
  width: 233px;
}


#card:hover{
  box-shadow: 2px 2px 10px 1px  #cecece;
}

.cartBtn{
  background-color: #bdbbbb;
  border: none;
  font-size: 16px;
  padding: 5px 40px;
  border-radius: 5px;
}

.cartBtn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px  #cecece;
}

/* Cart.jsx */

.component_body{
  background: #f1f1f1;
  padding: 30px 0px;
}

.empty_page{
  background-color: #fff;
  background-color: #fff;
  display: inline-block;
  width: 80%;
  height: 350px;
  align-content: center;
  box-shadow: 0px 0px 20px 0px  #cecece;
}

.empty_page p{
  font-size: 20px;
  font-family: system-ui;
}

table{
  width: 100%;
  padding: 20px;
}

.col2{
  text-align: left;
  padding: 20px
}

.col1{
  height: 250px;
  width: 250px;
}

.row{
  width: max-content;
}
td{
  box-shadow: 1px 1px 5px 1px  #cecece;
  /* border: 1px solid black; */
}

/* Popup.jsx */
.popup{
  background-color: #bdbbbb;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 30px;
  width: max-content;
  right: 0;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px  #cecece;
}

.close{
  background-color: #bdbbbb;
  border: none;
  font-family: system-ui;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

#content{
  font-family: serif;
  margin: 0;
  padding: 3px;
  font-size: 16px;
}

/* Footer.jsx */
#footer{
  background-color: #bdbbbb;
  padding: 100px;
  height: auto;
  width: auto;
  position: sticky;
}

/* RegisterModal.jsx */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Search modal */
.search-modal {
  display: flex; /* Hidden by default */
  /* position: fixed; Stay in place */
  
  /* left: 43%; */
  /* top: 23%; */
  width: 40%; /* Full width */
  margin: auto;
  /* height: 100%; Full height */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0); Black w/ opacity */
}

.search-modal-content {
  z-index: 1; /* Sit on top */
  overflow-x: hidden;
  background-color: #fefefe;
  /* margin: 7% 43%; */
  /* padding: 0px 10px; */
  border: 1px solid #ffffff;
  width: 100%;
  text-align: left;
}


.input{
  width: 70%;
  height: 25px;
  margin: 20px;
}

.App {
  text-align: center;
  height: 100%;
}

@media screen and (max-width:480px) {
  body{
    background-color: lightgreen;
  }
}